{% extends 'base.html.twig' %}

{% block title %}New ComedyClub{% endblock %}

{% block body %}
    <h1>Create new ComedyClub</h1>

    {{ include('comedy_club/_form.html.twig') }}

    <a href="{{ path('app_comedy_club_index') }}">back to list</a>
{% endblock %}
